@font-face {
    font-family: "Xanh Mono";
    src: url("XanhMono-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: black;

  background: fixed;

  background-image: radial-gradient(#222, black)
  
}

h1 {
  color: white;
  font-family: "Xanh Mono";
  text-align: center;
  vertical-align: center;

  margin-top: 0;

  
}
p {

  margin-top: 20;
  margin-bottom: 0;

  font-family: "Xanh Mono";
  text-align: center;
  vertical-align: center;
  color: #fee;
  
  text-shadow: 0 0 2px white, 0 0 10px lightgoldenrodyellow;
}

.container {

  /*border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5em;*/
  font: 1.2em sans-serif;

  position: absolute;
  vertical-align: middle;

  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;

  align-items: center;
  align-content: center;
  justify-content: center;

}

.glow {

  margin-top: 0;
  margin-bottom: 0;


  font-size: 80px;
  color: #fff;
  text-align: center;

  text-shadow: 0 0 10px #ffe693, 0 0 100px lightgoldenrodyellow, 0 0 25px lightgoldenrodyellow;
}

#clock2 {

  font-size: 50px;

}

#toggle {

  text-align: left;

}
